#bottom_navigation_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100vw;
    background: linear-gradient(to bottom right, /* var(--blue),*/
    #203687,
     var(--dark));
    color: white;
}

.bottom_navigation_bar__item {
    height: 100%;
    min-width: 75px;
    cursor: pointer;
}

.bottom_navigation_bar__item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    text-decoration: none;
    color: rgb(211, 233, 255);
    transition: ease 0.3s;
}

.bottom_navigation_bar__item a.active {
    color: #ffc559;
}

.bottom_navigation_bar__item a:not(span) {
    font-size: 1.65rem;
    position: relative;
}

.bottom_navigation_bar__item a span {
    font-size: 0.88rem;
}

#navigationbutton_mygames__notification {
    position: absolute;
    top: 7.5px;
    right: 10px;
    color: #ff2525;
    font-size: 0.5em;
}

@media screen and (min-width: 600px) {
    #bottom_navigation_bar {
        /* position: absolute; */
        bottom: 15px;
        max-width: 600px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 1em;
        box-shadow: 0 7px 15px rgb(0 0 0 / 75%);
    }

    .bottom_navigation_bar__item a:hover {
        color: #d1ff9c;
        transition: ease 0.3s;
        /* text-shadow: 3px 3px 10px #fff, 3px -3px 10px #fff, -3px 3px 10px #fff, -3px -3px 10px #fff; */
    }

}