/*
  BG:     #FFF8F0
  DARK:   #1E1E24
  BLÅ:    #111D4A
  ORANSJ: #DE6449
  GRØN:   #4A7856
*/

html, body, #root {
  height: 100%;
  margin: 0;
}

:root {
  --bg: #f8f8f8;
  --gray: #41414E;
  --dark: #1E1E24;
  --blue: #111D4A;
  --lightblue: #2f4ebc;
  --red: #DE6449;
  --lightred: #fbab99;
  --green: #4A7856;
}

#app {
  background-color: var(--bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  overflow-x: hidden;
  position: relative;
}

.button {
  background: none;
  border: none;
  color: #111D4A;
}